[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
ExecStart=/bin/bash /home/ec2-user/Repositories/sureta/setup.sh run
WorkingDirectory=/home/ec2-user/Repositories/sureta
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
